.btn{
    width: 100%;
}
.btn-login{
    width: 73%;
}
@media (max-width: 992px)
{
    .btn-login{
        width: 100%;
    }
}
.top{
    width: 100%;
    height: 100px;
    background-color: #2a88bd;
    text-align: center;
}
.panel-binding{
    height: 160px;
    border: 1px solid red;
}